In [8]:
import newspaper
from newspaper import Article

#The Basics of downloading the article to memory
article = Article("https://turnbackhoax.id/2021/12/25/salah-video-banten-dilanda-hujan-angin-kencang/")
article.download()
article.nlp()

# To print out the full text
print(article.text)

ArticleException: Article `download()` failed with 500 Server Error: Internal Server Error for url: https://turnbackhoax.id/2021/12/25/salah-video-banten-dilanda-hujan-angin-kencang/ on URL https://turnbackhoax.id/2021/12/25/salah-video-banten-dilanda-hujan-angin-kencang/

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('data_akhir.csv')

In [13]:
df.tail()

                                                 Konten  Kelas
4361  : ternyata itu adalah bagian dari pawai menyam...  FAKTA
4362   : pada 16 april lalu, menteri perdagangan rac...   HOAX
4363   : raja salman dari arab saudi membawa orang-o...   HOAX
4364   : hehe, selalu bisa tersenyum melihat tingkah...   HOAX
4365   : hari ini, rabu (23/09/2015), nilai tukar ru...   HOAX